
Sigue las instrucciones y genera el código debajo de cada comentario

In [0]:
text1 = "In Madrid, pollution levels pose serious health hazards, which translate into 200 millions more of public health spenditure. \
Some Spanish companies are following global private comanies like Intuit, Dassault Systèmes, Motorola and Alphabet \
in the trend towards reducing the emissions of their production systems."

text2 = """
Known as "Londinium", the Roman legions established a settlement on the current site of the City of London around AD 43. \
Its bridge over the River Thames turned the city into a road nexus and major port, serving as a major commercial centre in \
Roman Britain until its abandonment during the 5th century. 
"""

t3 = 'maaaa' 
t4 = 'aubabababbb'
t5 = 'abyababcbcbib'
t6 = 'aba_babe4'
t7 = 'basdb98709e7'
t8 = 'peridise_'
t9 = 'genialees'
t10 = 'xxx333nnn'
t11 = 'braba..n!'

t12 = "Estudios Xrecientes comprueban Xque uno puede irseX y Xvolver de cualquier lugar Xsin publicarlo"

In [0]:
# 1.a Print all elements of t4 if they are equal to a con un sencillo for loop

['a', 'a', 'a', 'a']

In [5]:
# 1.b Hazlo con comprehension list: )
print([i for i in t4 if i =='a'])

['a', 'a', 'a', 'a']

In [6]:
# 2. Print all elements that are equal to a or b in t5: 
print([i for i in t5 if i in "ab"])

['a', 'b', 'a', 'b', 'a', 'b', 'b', 'b', 'b']

In [11]:
# 3. Imprime todos las ocurrencias de'ab' en t4 
print(['ab' for i in range(t4.count('ab'))])
#ó
print(['ab' for i, elem in enumerate(t4) if t4.startswith('ab',i)])
#ó
print(['ab' for i in range(len(t4)) if t4.startswith('ab',i)])

['ab', 'ab', 'ab']
['ab', 'ab', 'ab']
['ab', 'ab', 'ab']

In [14]:
# 4. Imprime los caracteres qeu sean números en t6 
print([i for i in t6 if i in "0123456789"])
#ó
print([i for i in t6 if i.isdigit()])

['4']
['4']

In [16]:
# 5. Imprime todas las ocurrencias de ab, recorriendo los textos t3 a t11
# (tienes q almacenar los textos juntos de alguna manera en alma_1): 
alma_1=[t3,t4,t5,t6,t7,t8,t9,t10,t11]
print(['ab' for i in alma_1 for j, elem in enumerate(i) if i.startswith('ab',j)])

['ab', 'ab', 'ab', 'ab', 'ab', 'ab', 'ab', 'ab', 'ab']

In [0]:
# 6. Concatena los textos t6 y t7 en otra string conca_1
conca_1 = t6+t7

In [18]:
"""7. Concatena los textos en alma_1 (ej 5) e imprime todas las ocurrencias 
de 'aba' en el texto resultante"""
print(['aba' for i in alma_1 for j, elem in enumerate(i) if i.startswith('aba',j)])

['aba', 'aba', 'aba', 'aba', 'aba']

In [19]:
# 8. Imprime todas los dos primeros caracteres de los textos en alma_1
print([i[:2] for i in alma_1 ])

['ma', 'au', 'ab', 'ab', 'ba', 'pe', 'ge', 'xx', 'br']

In [22]:
""" 9. Almacena en una variable resul_1 el penúltimo caracter de cada string 
si el primer caracter de la string no es una 'm'. Imprime el resultado."""
resul_1 = [i[-2] for i in alma_1 if i[0]!='m']
print(resul_1)

['b', 'i', 'e', 'e', 'e', 'e', 'n', 'n']

In [24]:
# 10. Itera sobre t3 a t11 y devuelve el primer caracter de la primera string, \
#     el segundo de la segunda, el tercero de la tercera... etc. 
#     Guarda cada caracter en resul_2 de forma que quede una string con cada uno de los caracteres por orden
result_2 = "".join([elem[i] for i, elem in enumerate(alma_1)  ])
print(result_2)

muy_bien!

In [0]:
# 11. Si has hecho lo anterior bien o muy bien (si no lo sabes seguro al ver los resultados, 
      # pregúntame para que revise tus ejercicios), aprovecha la iteración anterior, 
      # puedes copiarla aquí, y guarda en una variable ind_resul los índices 
      # de cada uno de los caractes que extraímos en su string original.

In [0]:
# 12.a Añade una admiración a result1 al final:

# 12.b Crea un algoritmo que compare los índices de resul_1 y resul_2.

In [0]:
# 13. Si 12 devuelve True, crea una lista con todos las strings que tengan números. 
# sin usar regex:

In [0]:
# 14. Has lo mismo con un patron regex

In [0]:
# 15. Almacena en otra lista todas las strings de esta lista que tengan 3 letras seguidas iguales 
      # Y remueve los tres primeros y 3 últimos de cada una de ellas ...